@charset "UTF-8";

@import '../common/variable';

//icon
//화살표 아이콘 (size,컬러값,방향)
//@include icon-arr(10, #000, bottom);

//icon
@mixin icon-arr($size:8,$color:$CBlack,$rotate:right,$border:1){
	display:inline-block;
	width:$size+px;height:$size+px;
	border:{
		style:solid;
		color:transparent $color $color transparent;
		width:0 $border+px $border+px 0;
	}
	@if $rotate == top{
		@include prefix(transform,rotate(-135deg),webkit ms)} @else if $rotate == left{
		@include prefix(transform,rotate(135deg),webkit ms)} @else if $rotate == right{
		@include prefix(transform,rotate(-45deg),webkit ms)} @else if $rotate == bottom{
		@include prefix(transform,rotate(45deg),webkit ms)}
}

@mixin icon-x($size:8,$color:$CBlack,$border:1){
	&:after,
	&:before{
		content:'';
		display:block;
		position:absolute;top:50%;left:50%;
		@include prefix(transform,translate(-50%,-50%) rotate(45deg),webkit);
		background:$color;
	}
	&:after{
		width:$size+px;
		height:$border+px;
	}
	&:before{
		width:$border+px;
		height:$size+px;
	}
}

@mixin icon-plus($size:10,$color:$CBlack,$border:1){
	&:after,
	&:before{
		content:'';
		display:block;
		position:absolute;top:50%;left:50%;
		background:$color;
	}
	&:after{
		width:$size+1+px;
		height:$border+px;
		margin-left:-$size/2+px;
	}
	&:before{
		width:$border+px;
		height:$size+1+px;
		margin-top:-$size/2+px;
	}
}

$sqrt_2: 1.41421356237;
@mixin iconArrow($direction: 'up', $width: 50px, $height: 50px, $thick: 2px, $color: #222, $display: inline-block, $position: relative) {
    position: $position;
    display: $display;
    width: $width;
    height: $height;
    &:before {
        content: '';
        position: absolute;
        border-top: $thick solid $color;
        border-left: $thick solid $color;
        @if ($direction == 'up' or $direction == 'down') {
            $size: round($width/$sqrt_2 - $thick);
            left: 50%;
            width: $size;
            height: $size;
            @if ($direction == 'up') {
                top: round($width/2);
                -webkit-transform: translate(-50%, -50%) rotate(45deg);
                transform: translate(-50%, -50%) rotate(45deg);
            } @else if ($direction == 'down') {
                bottom: round($width/2);
                -webkit-transform: translate(-50%, 50%) rotate(-135deg);
                transform: translate(-50%, 50%) rotate(-135deg);
            }
        } @else if ($direction == 'left' or $direction == 'right') {
            $size: round($height/$sqrt_2 - $thick);
            top: 50%;
            width: $size;
            height: $size;
            @if ($direction == 'left') {
                left: round($height/2);
                -webkit-transform: translate(-50%, -50%) rotate(-45deg);
                transform: translate(-50%, -50%) rotate(-45deg);
            } @else if ($direction == 'right') {
                right: round($height/2);
                -webkit-transform: translate(50%, -50%) rotate(135deg);
                transform: translate(50%, -50%) rotate(135deg);
            }
        }
    }
    &:after {
        content: '';
        position: absolute;
        background-color: $color;
        @if ($direction == 'up' or $direction == 'down') {
            @if ($direction == 'up') {
                top: round($thick/$sqrt_2);
            } @else if ($direction == 'down') {
                bottom: round($thick/$sqrt_2);
            }
            left: 50%;
            width: $thick;
            height: $height - round($thick/$sqrt_2);
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        } @else if ($direction == 'left' or $direction == 'right') {
            top: 50%;
            @if ($direction == 'left') {
                left: round($thick/$sqrt_2);
            } @else if ($direction == 'right') {
                right: round($thick/$sqrt_2);
            }
            width: $width - round($thick/$sqrt_2);
            height: $thick;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }
    }
}

//absolute
//수직정렬(요소세로값)
//@include abs-vertical(10);

@mixin abs-vertical(){
	position:absolute;top:50%;
	transform:translateY(-50%);
}
@mixin abs-center($w,$h){
	position:absolute;top:50%;left:50%;
	margin-top:-($h/2)+px;
	margin-left:-($w/2)+px;
}

//prefix

//벤더 프리픽스 (속성,속성값,브라우저 추가)
//@include prefix(transition, all 0.15s ease-in-out, webkit ms);

@mixin prefix($property, $value, $prefixes: ()){
	@each $prefix in $prefixes{
		#{'-' + $prefix + '-' + $property}:$value;
	}
	#{$property}:$value;
}

//말줄임
@mixin text-hidden-multi($line:1,$lineHeight:26){
	display:-webkit-box;
	-webkit-line-clamp:$line;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
	line-height:($lineHeight*$line)/$line+px;
	height:$lineHeight*$line+px;
	word-break:break-all;
}

@mixin text-hidden(){
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}


// aj
// flex
@mixin displayFlex($display: flex, $justify: center, $align: center) {
	@if $display==flex {
		@include flexbox();
	} @else {
		@include inline-flex();
	}
	@include justify-content($justify);
	@include align-items($align);
}
// Flexbox display
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin inline-flex() {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
@mixin justify-content($justify: center) {
	-webkit-justify-content: $justify;
	-moz-justify-content: $justify;
	-ms-justify-content: $justify;
	justify-content: $justify;
	-ms-flex-pack: $justify;
}
@mixin align-items($align: center) {
	-webkit-align-items: $align;
	-moz-align-items: $align;
	-ms-align-items: $align;
	align-items: $align;
}
		
@mixin box-shadow($shadows...) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}
@mixin pseudoBase($pos: absolute, $display: block) {
	content: "";
	display: $display;
	position: $pos;
}
@mixin itemSize($w, $h) {
	width: $w;
	height: $h;
}
